nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
  color: white;
}
